@charset "utf-8";
:root {
    --base: #f46c11;
    --bg-blend: hard-light;
    --blur: 0px;
    --fg-blend: exclusion;
    --foreground: #110626;
    --opacity: 100%;
    --spacing: 0px;
    --font: 'Lato';
    --fontstyle: sans-serif;
    --fontcolor: #ffffff;
    --fontcolor-titles: #110626;
    --fontcolor-text: #000000;
    --fontcolor-alt: #474747;
    --bodybgcolor: #ffffff;
    --content-padding: 10px;
    --content-padding-tb: 10px 0px 10px 0px;
    --content-padding-lr: 0px 10px 0px 10px;
    --content-padding-l: 0px 0px 0px 10px;
    --content-padding-r: 0px 10px 0px 0px;
    --content-banner-padding-tb: 25px 0px 25px 0px;
    --container-padding: 110px 5px 80px 5px;
    --container-padding-lr: 80px 5px 80px 5px;
    --container-padding-tb: 0px 5px 0px 5px;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
}

body {
    font-family: var(--font), var(--fontstyle);
    background-color: var(--bodybgcolor);
    color: var(--fontcolor);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.clearfix {
    overflow: auto;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

*:focus {
    outline: 0 !important;
}

/**
 * Font parameters
 */

h1, h2, h3, h4, h5, p, a, blockquote, pre {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.2em;
    margin: .5em 0px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

hr {
    height: .5px;
    border-width: 0;
    background-color: lightgrey;
}

p {
    font-size: 16px;
}

a {
    font-size: 14px;
    text-align: center;
}

blockquote {
    font-size: 12px;
}

pre {
    font-size: 10px;
    white-space: pre-line;
}

.display-error{
    font-size: 6rem;
    margin: 0px;
}

.footer-text{
    font-size: 12px;
}

italic {
    font-style: italic;
}

light {
    font-weight: 300;
}

regular {
    font-weight: 400;
}

bold {
    font-weight: 700;
}

title-color {
    color: var(--fontcolor-titles);
}

text-color {
    color: var(--fontcolor-text);
}

text-color-alt {
    color: var(--fontcolor-alt);
}

.text-align-justify {
    text-align: justify;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

/* links */
a.alt-link {
    text-decoration: none;
    color: #110626;
    transition: all .5s ease;
}

a.alt-link:hover {
    text-decoration: none;
    color: #f46c11;
    transition: all .5s ease;
}

a.sub-link {
    text-decoration: none;
    color: white;
}

a.page-buttons,  a.pages{
    margin-right: 10px;
    padding: 15px 24px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

a.page-buttons{
    background-color: #EFF1F2;
    color: #000;
}

a.pages{
    background-color: #110626;;
    color: white;
}
/* Content wrappers/blocks */

.bg-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: var(--base);
    position: relative;
}

.bg-wrapper img {
    filter: grayscale(100%) contrast(1) blur(var(--blur));
    height: 100%;
    max-width: 100%;
    mix-blend-mode: var(--bg-blend);
    object-fit: cover;
    opacity: var(--opacity);
    position: relative;
    width: 100%;
}

.bg-wrapper::before {
    background-color: var(--foreground);
    content: '';
    height: 100%;
    mix-blend-mode: var(--fg-blend);
    position: absolute;
    width: 100%;
    z-index: 1;
}

.wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.wrapper.bg-grey {
    background-color: #f2f2f2;
}

.wrapper.bg-dark {
    background-color: #110626;
}

#container {
    width: 100%;
    max-width: 1000px;
}

.banner-content {
    height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    position: absolute;
}

.content-block {
    height: auto;
    box-sizing: border-box;
    position: relative;
}

/* Responsive divisions */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.flex-adjust {
    flex: auto;
}

.double-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.double-col.logo-l {
    flex: 75%;
}

.double-col.logo-r {
    flex: 25%;
}

.triple-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.quadruple-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.quadruple-col.sp {
    flex: 100%;
}

/* shapes */

.circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    text-align: center;
}

.circle:after {
    display: block;
    padding-bottom: 100%;
    background-color: #110626;
    width: 100%;
    height: 0;
    border-radius: 50%;
    content: "";
}

.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content {
    display: table-cell;
    vertical-align: middle;
}

/* card */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: 0.3s;
    border-radius: 5px;
    height: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img, .card .bg {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.card img:hover, .card .bg:hover {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.card img {
    filter: grayscale(100%);
    transition: all 0.3s;
}

.card img:hover {
    opacity: 1;
    filter: grayscale(0%);
}

.svg {
    max-width: auto;
}

.b01 {
    background-color: #FF714F;
}

.b02 {
    background-color: #FFCC63;
}

.b03 {
    background-color: #23AD7B;
}

.bg .circle:after {
    background-color: #ffffff;
}

.card .circle {
    width: 25%;
}

.card .container {
    padding: 2px 16px;
}

.card .limiter h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    color: black;
    height: 7.2em; /* exactly three lines */
}

.card .limiter h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    color: black;
    height: 7.2em; /* exactly six lines */
}

.card .limiter h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 2.4em; /* exactly two lines */
}

.card a .fa-facebook, .card a .fa-linkedin, .card a .fa-instagram, .card a .fa-github {
    color: #110626 !important;
    transition: all .5s ease;
}

.card a .fa-facebook:hover, .card a .fa-linkedin:hover, .card a .fa-instagram:hover, .card a .fa-github:hover {
    color: #f46c11 !important;
    transition: all .5s ease;
}

.button {
    display: inline-block;
    border-radius: 5px;
    background-color: #110626;
    border: none;
    color: #fff;
    text-align: center;
    font-family: 'Lato' !important;
    font-weight: 400;
    font-size: 18px;
    padding: 15px 50px;
    transition: all 0.5s;
    cursor: pointer;
}

.button.info {
    background-color: #EFF1F2;
    color: #000;
}

.button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f05a';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button.register span:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2f6';
}

.button.email span:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0e0';
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.upcoming-event, .canceled-event {
    border-radius: 5px 0px 0px 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px 10px;
    position: absolute;
    display: fixed !important;
    text-align: center;
    z-index: 1;
}

.upcoming-event {
    background-color: #2BBF5F;
}

.canceled-event {
    background-color: #D82433;
}

/* navbar */

.header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    z-index: 99;
    transition: all .2s ease-in-out;
}

.navbar {
    background-color: transparent;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

.header li a {
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: all .2s ease-in-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 38px 28px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background-color: white;
    display: block;
    height: 2px;
    position: relative;
    transition: all .2s ease-in-out;
    width: 28px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background-color: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 10px;
}

.header .menu-icon .navicon:after {
    top: -10px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 100%;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.lock-scroll {
    overflow: hidden;
}
/* Content position */

.center {
    margin: auto;
    width: 50%;
    padding: 0px;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.padding-container {
    padding: var(--container-padding);
}

.padding-container-tb {
    padding: var(--container-padding-tb);
}

.padding-container-lr {
    padding: var(--container-padding-tb);
}

.padding-content {
    padding: var(--content-padding);
}

.padding-content-tb {
    padding: var(--content-padding-tb);
}

.padding-content-lr {
    padding: var(--content-padding-lr);
}

.padding-content-r {
    padding: var(--content-padding-r);
}

.padding-content-l {
    padding: var(--content-padding-l);
}

.padding-banner-content-tb {
    padding: var(--content-banner-padding-tb);
}

.fa-fw {
    padding: 5px;
}

/* Smartphones (portrait and landscape) */

@media only screen and (min-device-width: 200px) and (max-device-width: 480px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 14px;
    }
    h5 {
        font-size: 12px;
    }
    hr {
        height: .5px;
        border-width: 0;
        background-color: lightgrey;
    }
    p {
        font-size: 18px;
    }
    a {
        font-size: 14px;
        text-align: center;
    }
    .header li a {
        font-size: 24px;
    }
    blockquote {
        font-size: 12px;
    }
    pre {
        font-size: 10px;
        white-space: pre-line;
    }
    :root {
        --content-padding: 5px;
        --content-padding-tb: 5px 0px 5px 0px;
        --content-padding-lr: 0px 5px 0px 5px;
        --content-padding-l: 0px 0px 0px 5px;
        --content-padding-r: 0px 5px 0px 0px;
    }
}

/* Smartphones (landscape) */

@media only screen and (min-device-width: 0px) and (max-device-width: 768px) {
    :root {
        --container-padding: 60px 5px 30px 5px;
        --container-padding-lr: 20px 5px 20px 5px;
        --container-padding-tb: 0px 5px 0px 5px;
    }
    .header {
        background-color: transparent;
        transition: all .5s ease;
    }
    .header li a {
        font-size: 22px;
    }
    .button:hover span {
        padding-right: 0px;
    }
    .button:hover span:after {
        opacity: 0;
        right: -20px;
    }
}

/* Smartphones (portrait) */

@media only screen and (max-device-width: 320px) {}

/* iPads (portrait and landscape) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .svg {
        max-width: 200px;
    }
}

/* iPads (landscape) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .svg {
        max-width: 200px;
    }
}

/* iPads (portrait) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .svg {
        max-width: 300px;
    }
}

/* Desktops and laptops */

@media only screen and (min-width: 560px) {
    :root {
        --container-padding: 110px 65px 80px 65px;
        --container-padding-lr: 80px 65px 80px 65px;
        --container-padding-tb: 0px 65px 0px 65px;
    }
    .svg {
        max-width: 200px;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 14px;
    }
    hr {
        height: .5px;
        border-width: 0;
        background-color: lightgrey;
    }
    p {
        font-size: 21px;
    }
    a {
        font-size: 18px;
        text-align: center;
    }
    blockquote {
        font-size: 18px;
    }
    pre {
        font-size: 12px;
        white-space: pre-line;
    }
}

@media only screen and (min-width: 800px) and (min-height: 600px) {
    .header ul {
        padding: var(--container-padding-tb);
    }
    .header li {
        float: left;
        padding: 20px 15px;
    }
    .header li a {
        overflow: hidden;
        float: right;
        display: block;
        position: relative;
        color: #f2f2f2;
        text-align: center;
        margin: 0px 15px;
        padding: 5px 0px;
        text-decoration: none;
    }
    .header .menu {
        background: transparent;
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 3px;
        width: 0;
        background: transparent;
    }
    .link:after {
        transition: all .5s ease;
    }
    .link:hover:after {
        width: 100%;
        left: 0;
        background: #ffffff;
    }
}

@media only screen and (max-width: 880px) {
    .col {
        flex: 100%;
    }
    .double-col {
        flex: 50%;
    }
    .triple-col {
        flex: 33.3%;
    }
    .quadruple-col {
        flex: 25%;
    }
    .quadruple-col.sp {
        flex: 50%;
    }
}

@media only screen and (min-width: 880px) {
    .col {
        flex: 1;
    }
    .double-col {
        flex: 2;
    }
    .triple-col {
        flex: 3;
    }
    .quadruple-col {
        flex: 4;
    }
    .quadruple-col.sp {
        flex: 25%;
    }
    .double-col.logo-l {
        flex: 50%;
    }
    .double-col.logo-r {
        flex: 50%;
    }
    .svg {
        max-width: 100%;
    }
    .footer-text{
        font-size: 16px;
    }
}

/* Desktops and laptops */

@media only screen and (min-width: 1280px) {
    #container {
        width: 100%;
        max-width: 1254px;
    }
    .button {
        padding: 15px 20px;
    }
    .col {
        flex: 1;
    }
    .double-col {
        flex: 2;
    }
    .triple-col {
        flex: 3;
    }
}